body {
    background-color: #f5f7fa;
    display: contents;

}

.header {
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

.container {
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.footer {
    background-color: rgb(159, 137, 239);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.footer-link {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
    justify-content: left;
    margin-right: auto;
}

.footer-knoppen {
    background-color: rgb(159, 137, 239);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid white;
    gap: 10px;
    margin-left: auto;
}

.text-container {
    flex: 1;

}

.image-container {
    flex: 1;
    text-align: center;

    img {
        max-width: 70%;
        height: auto;
    }
}

.nav {
    background-color: rgb(159, 137, 239);
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

.nav-link {
    color: white;
    text-decoration: none;

}

h1 {
    color: white;

}

.pp {
    color: white;

}

.buttonblak {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid white;
}

.buttonblak2 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.buttonpurple {
    background-color: rgb(159, 137, 239);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.buttonpurple2 {
    background-color: rgb(159, 137, 239);
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.image-main {

    margin: 0 auto;
    max-width: 20%;

}