* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stage {
    position: relative;
    cursor: pointer;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.bannerSize {
    width: 970px;
    height: 250px;
    background-color: black;
}

.box {
    position: absolute;
    width: 20px;
    height: 10px;
    left: 15px;
    top: 15px;
}

.box1,
.box2,
.box3 {
    position: absolute;
    width: 20px;
    height: 10px;
}

.box1 {
    background-color: #9000ff;
}

.box2 {
    background-color: #55559f;
    left: 30px;
}

.box3 {
    background-color: #b0b0eb;
    left: 60px;
}

.headerText {
    color: white;
    position: absolute;
    left: 15px;
    top: 50px;
}

.headerText2 {
    color: white;
    position: absolute;
    left: 15px;
    top: 88px;
}

.headerText3 {
    color: white;
    position: absolute;
    left: 461px;
    top: 131px;

}

.headerText4 {
    color: white;
    position: absolute;
    left: 15px;
    top: 115px;
}

.hiImg {
    position: absolute;
    left: 98px;
    top: 37px;
    width: 30px;
    height: auto;
}

.hiImg2 {
    position: absolute;
    left: 270px;
    top: 13px;
    width: 129px;
    height: auto;

}

.circle {
    position: absolute;
    width: 410px;
    height: 371px;
    border-radius: 100%;
    background-color: #7272dd;
    bottom: -95px;
    right: -118px;
}

.circlelink {
    position: absolute;
    width: 100px;
    height: 113px;
    left: 68px;
    top: 124px;
    padding: 29px;
    display: flex;
    min-inline-size: fit-content;
    font-size: x-large;
}

.buttonW {
    background-color: #7272dd;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
}